{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/listing.css') }}"  />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/colorbox.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/dropdown/modernizr.custom.63321.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/colorbox/jquery.colorbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/dropdown/modernizr.custom.63321.js') }}"></script>
{% endblock %}

{% block content %}
<div class="onerow" id="top_row">	
<h1>M L RUUUUN</h1>
</div>
{% endblock %}

