<div id="infopage" style="margin:auto;clear:both;display:inline-block;position:absolute;top:0px;left:0px;width:100%;height:100%;font-size:25px;">
  <p style="font-size:30px;">
    Welcome to the Refinery
  </p>
  
  <p style="margin-left:20px;text-align:left;">
    Refinery identifies topics in your data and allows you to refine it into folders that focus on the topics you're interested in.  Also, it helps you summarize your folders into important sentences with links back to the documents that they appear in.
  </p>
  
  <p style="margin-left:20px;">
    <span style="float:left;">Use</span> <img style="top:-10px;position:relative;float:left;width:40px;margin:3px;" src="/static/assets/images/icons/iconmonstr-gear-icon-48.png" /><span style="float:left;"> buttons to change settings</span>
  </p>
  <br/>
  <p style="margin-left:20px;">
    <span style="float:left;">Use</span> <img style="top:-10px;position:relative;float:left;width:40px;margin:3px;" src="/static/assets/images/icons/running-icon.png" /><span style="float:left;"> buttons to run machine learning</span>
  </p>
  <br/>
  <p style="margin-left:20px;">
    <span style="float:left;">Use</span> <img style="top:-10px;position:relative;float:left;width:40px;margin:3px;" src="{{ url_for('static', filename='assets/images/icons/iconmonstr-flask-7-icon-256.png') }}" /><span style="float:left;"> buttons to experiment with Refinery's tools</span>
  </p>
  <br/>
  <p style="margin-left:20px;">
    <span style="float:left;">Use</span> <img style="top:-10px;position:relative;float:left;width:40px;margin:3px;" src="/static/assets/images/icons/iconmonstr-newspaper-4-icon.png" /><span style="float:left;"> buttons to browse the documents in a folder</span>
  </p>
  <br/>
  <p style="margin-left:20px;">
    <span style="float:left;">Use</span> <img style="top:-10px;position:relative;float:left;width:40px;margin:3px;" src="/static/assets/images/icons/iconmonstr-x-mark-4-icon.png" /><span style="float:left;"> buttons to delete things</span>
  </p>
  <br/>
  <p style="margin-left:20px;">
    <span style="float:left;">Click the </span> <img style="top:-10px;position:relative;float:left;width:40px;margin:3px;" src="/static/assets/images/icons/iconmonstr-info-6-icon-256.png" /><span style="float:left;"> button to see this information page again</span>
  </p>
  <br/>
  <p style="margin-left:20px;">
    <span style="float:left;">To get started with Refinery, upload a dataset with the</span> <img style="top:-10px;position:relative;float:left;width:40px;margin:3px;" src="/static/assets/images/icons/iconmonstr-note-25-icon.png" /><span style="float:left;"> button at the bottom of the page</span>
  </p>
  
  <img src="/static/assets/images/icons/iconmonstr-x-mark-4-icon.png" style="position:absolute;top:540px;left:1000px;width:50px;" class="imgbtn" onclick="show_info(false);"/>
</div>
